// Imports
@import "partials/base";
@import "partials/colors";
@import "partials/typography";

// General

body {
    background-color: $body-color;
    font-family: $basic-font;    
    
    h3 {
        font-family: $sub-title;
    }
}

/* Banner */
header {
    background: {
        image: url("../images/zen.jpeg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 50vh;
    width: 100%;
    top: 0;

    h1, h2 {
        text-align: center;
        position: relative;
        font-family: $header-font;
    }

    h1 {
        top: 20%;
        margin: 0;
    }

    h2 {
        top: 60%;
    }
}

.summary {
    @include box-shadow(0 -3px 20px 10px #666);
    background-color: $bckgrnd-light;
    padding: 10px 50px;
}

.preamble {
    background-color: $bckgrnd-md;
    padding: {
        top: 50px;
        bottom: 50px;
    }

    * {
        padding: {
            left: 10px;
            right: 10px;
        }
    }
}

/* Main */
.main.supporting {
    .explanation, .participation, .benefits, .requirements {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    
        * {
            padding: {
                left: 10px;
                right: 10px;
            }
        }
    }
    .explanation, .benefits {
    background-color: $bckgrnd-xlight;
    }
    .participation, .requirements {
        background-color: $bckgrnd-light;
    }
}

/* Footer */
footer, .sidebar {
    background-color: $ftr-clr;
    color: $ftr-text;

    a {
        text-decoration: none;
        color: $ftr-link;
        font-weight: 600;
    }
}

footer {
    padding-top: 20px;
    text-align: center;

    a {
        padding: {
            left: 20px;
            right: 20px;
        }
    }
}

.wrapper {
    padding: {
        top: 20px;
        bottom: 40px;
    }

    h3 {
        padding-left: 10px;
    }

    ul {
        list-style-type: none;
    }
}

/* Media Queries */
@media only screen and (min-width: 720px) {
    header{
        background-attachment: fixed;
        background-position-y: -300px;
    }

    .summary {
        text-align: center;
    }

    .preamble {
        h3, p {
            padding: {
                left: 10%;
                right: 10%;
            }
        }
    }

    
    .main.supporting {
        background: {
            color: $main-trans;
            blend-mode: color;
            image: url("../images/stones.jpeg");
            attachment: fixed;
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        grid-template-areas: 
        ". article1 article2 ."
        ". article3 article4 ."
        "footer footer footer footer";

        .explanation, .participation, .benefits, .requirements {
            padding: {
                top: 0;
                bottom: 0;
            }
            background-color: $main-trans;
        }

        .explanation {
            grid-area: article1;
        }
    
        .participation {
            grid-area: article3;
        }
    
        .benefits {
            grid-area: article2;
        }
    
        .requirements {
            grid-area: article4;
        }

        footer {
            grid-area: footer;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 0.8em;
        padding-bottom: 20px;
    }
}