//General
/* Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

// Mixins
@mixin box-shadow($value) {
    box-shadow: ($value);
    -moz-box-shadow: ($value);
    -webkit-box-shadow: ($value);
}