// General
$body-color: #eee;
$bckgrnd-md: #a1aaa1;
$bckgrnd-xlight: #eee;

// Header
$bckgrnd-light: #dcdddc;

// Main
$main-trans: rgba(238, 238, 238,0.7);

// Footer
$ftr-clr: #333433;
$ftr-text: #ddd;
$ftr-link: #eee;