// Imports
@import url("https://fonts.googleapis.com/css?family=Rock+Salt");
@import url("https://fonts.googleapis.com/css?family=Laila");

// General
$basic-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$sub-title: 'Laila', serif;

// Banner
$header-font: 'Rock Salt', cursive;